/* import Google Font - Plus Jakarta Sans */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* import Google Font - Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, *::before, *::after {
  font-family: "Plus Jakarta Sans", sans-serif;
}


/* apply css reset */

*, * ::before, * ::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body { /* typographic tweaks */
  -webkit-font-smoothing: antialiased; 
}

img { /* improve media defaults */
  display: block;
  max-width: 100%;
}

/* start CSS here */

main.dashboard {
  background-color: #FAFAFA;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 88px 1fr;

  height: 100vh;
  overflow: hidden;
}

.navbar {
  grid-column: 1 / 2;
  grid-row: span 2;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 20px;
  border-right: 1px solid #EBECF2;

  overflow: hidden;
}

.navbar .logo {
  margin-bottom: 20px;
}

.nav-top {
  margin-bottom: 20px;
}

ul.nav {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.theme {
  padding: 8px; 
  background-color: #fff;
  border-radius: 100px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.theme .light-mode {
  width: 30px;
  height: 30px;
  background-color: #34CAA5;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme .dark-mode {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .nav-bottom {
  margin-top: auto;
  margin-bottom: 50px;
}

.main-header {
  grid-column: 2 / -1;
  grid-row: 1 / 2;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  overflow: hidden;

  border-bottom: 1px solid #E5EAEF;
  padding-inline: 18px;
}

.main-header * {
  font-family: 'Inter', sans-serif;
}

.main-header h1 {
  margin-right: auto;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.user-account {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 6px 8px;
  gap: 12px;

  border: 1px solid #DADDDD;
  border-radius: 28px;
}

.user-account-image-name-email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.user-account-name-email {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.user-account-name-email .name {
  font-size: 1rem;
}

.user-account-name-email .email {
  font-size: .875rem;
  color: #787486;
}

.user-account .user-account-image img {
  width: 38px;
  transform: translateY(-8px);
}

.user-account .user-account-image {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
}

.user-account .user-account-dropdown-icon {
  padding-right: 6px;
}

.bell-notification {
  margin-right: 20px;
  padding: 11px;
  border: .77px solid #DADDDD;
  border-radius: 50%;
}

.date-picker {
  margin-right: 38px;
  display: flex;
  gap: 10px;
}

.date-picker p {
  font-weight: 500;
  line-height: 22px;
  font-size: .875rem;
}

.search-bar {
  margin-right: 40px;
  display: flex;
  gap: 8px;
  align-items: center;
  /* justify-content: center; */
  padding: 16px 24px 16px 16px;
  background-color: #fff;
  width: 350px;
  border-radius: 24px;
  border: 1px solid #DADDDD;
}

.search-bar form {
  flex-grow: 1;
}

.search-bar form input {
  width: 100%;
  font-size: 1rem;
  border: none;
}

.search-bar form input:focus-visible {
  outline: none;
}

.content-body {
  grid-column: 2 / -1;
  grid-row: 2 / -1;

  overflow-y: scroll;
  /* height: 100vh; */

  display: grid;
  grid-template-columns: 1fr 500px;
  padding: 20px;
  gap: 24px;
}

.content-body .sales-trends {
  padding: 16px;
  border-radius: 14px;
  border: 1px solid #EDF2F7;
  background-color: #fff;
}

.sales-trends .header h2,
.last-orders .header h2,
.top-platform .header h2 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.4;
  color: #26282C;
}

.sales-trends .header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 16px;
}

/* .sales-trends .graph {
  min-height: 290px;
} */

.sales-trends .header h2 {
  margin-right: auto;
}

.sales-trends .filter p {
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.57;
  color: #3A3F51;
}

.sales-trends .filter {
  margin-right: 10px;
}

select#sales-trends-date-filter {
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid #E1DFDF;
  font-size: .75rem;
  line-height: 1.3;
}

.content-body .stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.stats .stat-box {
  padding: 16px;
  background-color: #fff;
  border: 1px solid #EDF2F7;
  border-radius: 14px;
}
.stats .stat-box-icon-graph {
  display: flex;
  justify-content: space-between;
}

.stats .stat-box-icon-graph .stat-box-icon {
  padding: 8px;
  border-radius: 50%;
  border: .71px solid #E6E6E6;
}

.stat-box-title {
  margin-top: 10px;
}

.stat-box-title h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625;
  color: #898989;
}

.stat-box-value {
  margin-block: 5px 10px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3;
  color: #3A3F51;
}

.stat-box-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stat-box-footer-rate {
  padding: 4px 8px;  
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
}


.stat-box-footer-rate.rate-up {
  background-color: rgba(52, 202, 164, 0.12);
}

.stat-box-footer-rate.rate-up p {
  font-size: .75rem;
  font-weight: 500;
  color: #34CAA5;
}

.stat-box-footer-rate.rate-down {
  background-color: rgba(237, 83, 78, 0.12);
}

.stat-box-footer-rate.rate-down p {
  font-size: .75rem;
  font-weight: 500;
  color: #ED544E;
}

.stat-box-footer-dimension p {
  font-family: 'Inter', sans-serif;
  font-size: .875rem;
  color: #606060;
}

.content-body .last-orders {
  
}

.last-orders .last-orders_wrapper {
  
}

.content-body .top-platform {
  padding: 16px;
  background-color: #fff;
  border-radius: 14px;
  border: 1px solid #EDF2F7;
}

.top-platform .top-platform_platform_wrapper {
  
}

